INFLUXDB_HOST={{ influxdb_ip }}		# Specify the IP address or DNS name of the InfluxDB node
INFLUXDB_PORT={{ influxdb_port }}			# InfluxDB API port used by Grafana datasource. Specify 8086.
GRAFANA_USERNAME={{ grafana_username }}	# Grafana username for logging in to the dashboard UI.
GRAFANA_PASSWORD={{ grafana_password }}	# Grafana password for logging in to the dashboard UI.
